* {
    margin: 0px;
    border: 0px;
}

body {
    background: black;
}

.janela {
    margin: 130px auto;
    height: 500px;
    width: 800px;
    border: 5px solid rgba(60, 60, 60, 0.4);
    border-radius: 13px;
    display: flex;
    justify-content: center;
}

.janela-conteudo {
    display: block;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.janela-conteudo .inicio {
    width: 230px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.janela-conteudo .inicio img {
    width: 230px
}