.conteudo-jogo {
    display: none;
}

.personagem {
    position: absolute;
    left: -335px;
    bottom: -45px;
}

.personagem img {
    width: 400px
}

.texto {
    display: none;
    top: 0;
    z-index: 1;
    position: absolute;
    left: 225px;
    animation: aparece 0.5s ease;
}

@keyframes aparece {
    0% {
        top: -10px;
        opacity: 0%
    }
    100%{
        top: 0;
        opacity: 100%;
    }
}

.texto img {
    width: 550px;
}

.botao {
    display: none;
    z-index: 2;
    position: absolute;
    top: 220px;
    right: 12px;
}

.botao img {
    width: 150px
}